@import url(/BankAI/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #6D5585;
    width: 1440px;
    margin: auto;
    font-family: Montserrat;
}

nav {
    position: fixed;
    z-index: 2;
    background-color: #6D5585;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 98px;
    top: 0;
}

.nav__logo{
    display: flex;
    align-items: center;
}

#logo1{
    height: 66px;
}

h3{
    color: white;
    font-size: 32px;
    font-weight: bolder;
}

.nav__buttons {
    display: flex;
    align-items: center;
}

.nav__buttons h4 {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.nav_buttons_login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 62px;
    background-color: #8C00F0;
    border-radius: 50px;
}

.nav_buttons_cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 62px;
    background-color: #432B54;
    border-radius: 50px;
}

.main{
    background: #6D5585;
    margin-top: 100px;
}

.landing1{
    background-color: #2F2B33;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 720px;
    padding-bottom: 50px;
    padding-left: 20px;

}

h1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
}

.landing1 p {
    font-size: 36px;
    color: #EED7FF;
    margin-left: 135px;
    width: 370px;
}
.landing__button{
    background-color: #8C00F0;
    margin-left: 200px;
    border-radius: 500px;
    width: 520px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landingimg{
    position: absolute;
    right: 240px;
    z-index: 1;
    height: 865px;
    width: 664px;
    top: 100px;
}

.features {
    margin-top: 43px;
    background-color: #EED7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logofeatures{
    margin-top: 10px;
    width: 160px;
}

.highlight{
    color: #8C00F0;
    font-weight: bolder;
    font-size: 52px;
}

#featuretitle{
    color:#432B54;
}

.cards_horizontal{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.card{
    width: 300px;
    height: 300px;
    background: #6D5585;
    border-radius: 60px;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h5{
    font-size: 24px;
    font-weight: bold;
}

.cardimg{
    height: 60px;
    width: 60px;
    
}

.card__content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 245px;
    height: 280px;

    

}

.card__content p {
    font-size: 20px;
    font-weight: semibold;
    text-align: center;

}

.about {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
    background-color: #2F2B33;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__content {
    background-color: #8C00F0;
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__content p{
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: auto;
}

#about1{
    align-self: flex-end;
    margin-bottom: 5vh;
}
#about2{
    align-self: flex-start;
    margin-top: 5vh;
}